nav{

    float: top;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: black;
    background-color: yellowgreen;
    font-size: x-large;
}

